<!--wrapper-->

<!--start page wrapper -->
<div class="row">
  <div class="col-xl-9 mx-auto">


    <!--start stepper -->


    <div id="stepper1" class="bs-stepper">
      <div class="card" style=" margin-top: 10%;  ">
        <div class="card-header">
          <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
            <div class="step" data-target="#test-l-1">
              <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
                <div class="bs-stepper-circle">1</div>
                <div class="">
                  <h5 class="mb-0 steper-title">Subscription parameters</h5>
                </div>
              </div>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-2" >
              <div class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2">
                <div class="bs-stepper-circle">2</div>
                <div class="">
                  <h5 class="mb-0 steper-title">Payment data</h5>
                </div>
              </div>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-3" >
              <div class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3">
                <div class="bs-stepper-circle">3</div>
                <div class="">
                  <h5 class="mb-0 steper-title">Confirmation</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card-body">

          <div class="bs-stepper-content">

            <div class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2">
              <div class="d-flex align-items-center">
                
                <div class="ms-3">
                  <h6 class="mb-0">Duration : {{Duration}} Months </h6>
                  <h6 class="mb-0">Amount of gigabytes in a cloud  : {{GB}} GB </h6>
                  <h6 class="mb-0">Upfront payment : {{Payement}} </h6>
                  <h6 class="mb-0">final price : {{Totalprice}}  £ </h6>

                  

                </div>
              </div>
            </div> 
            
            <form [formGroup]="addForm1">
              <div id="test-l-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger1">

                <div class="row g-3">
                

                  <div class="col-12 col-lg-12">
                    <label for="InputDuration" class="form-label">Duration <span style="color:red">*</span></label>
                    <select class="form-select" id="InputDuration" formControlName="InputDuration"
                      aria-label="Default select example"
                      [ngClass]="{'is-invalid':submitted1 && formControl1.InputDuration.errors }" (change)="SelectedItems()">
                      <option value="3">3 Months </option>
                      <option value="6">6 Months </option>
                      <option value="12" selected>12 Months </option>
                    </select>
                    <div *ngIf="submitted1 && formControl1.InputDuration.errors" class="invalid-feedback">
                      <div *ngIf="formControl1.InputDuration.errors.required">Duration Required</div>

                    </div>
                  </div>



                  <div class="col-12 col-lg-12">
                    <label for="InputGB" class="form-label"> Amount of gigabytes in a cloud <span
                        style="color:red">*</span></label>
                    <select class="form-select" id="InputGB" formControlName="InputGB" (change)="SelectedItems()"
                      [ngClass]="{'is-invalid':submitted1 && formControl1.InputGB.errors }"
                      aria-label="Default select example">
                      <option value="5" selected>5 GB </option>
                      <option value="10">10 GB </option>
                      <option value="50">50 GB</option>
                    </select>
                    <div *ngIf="submitted1 && formControl1.InputGB.errors" class="invalid-feedback">
                      <div *ngIf="formControl1.InputGB.errors.required"> Amount of gigabytes Required</div>

                    </div>
                  </div>

                  <div class="col-12 col-lg-12">
                    <label for="InputPayment" class="form-label"> Upfront payment <span
                        style="color:red">*</span></label>
                    <select class="form-select" id="InputCountry" formControlName="InputPayment" (change)="SelectedItems()"
                      [ngClass]="{'is-invalid':submitted1 && formControl1.InputPayment.errors }"
                      aria-label="Default select example">
                      <option value="yes">Yes </option>
                      <option value="no" selected>No </option>
                    </select>
                    <div *ngIf="submitted1 && formControl1.InputPayment.errors" class="invalid-feedback">
                      <div *ngIf="formControl1.InputPayment.errors.required">Upfront payment Required</div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-lg-12">
                      <button style=" margin-top: 2%;float: right; " class="btn btn-primary px-4"
                        (click)="ValidateStep1()">Next<i class='bx bx-right-arrow-alt ms-2'></i></button>
                    </div>
                  </div>
                </div><!---end row-->

              </div>
              </form>
              <form [formGroup]="addForm2">

              <div id="test-l-2" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger2">


                <div class="row g-3">

                  <div class="col-12 col-lg-12">
                    <label for="InputCardNumber" class="form-label">Credit card number <span
                        style="color:red">*</span></label>
                    <input type="text" class="form-control" id="InputCardNumber" formControlName="InputCardNumber"
                      [ngClass]="{'is-invalid':submitted2 && formControl2.InputCardNumber.errors }"
                      placeholder="XXXX-XXXXX-XXXX-XXXX">
                    <div *ngIf="submitted2 && formControl2.InputCardNumber.errors" class="invalid-feedback">
                      <div *ngIf="formControl2.InputCardNumber.errors.required">Credit card number Required</div>

                    </div>
                  </div>
                  <div class="col-12 col-lg-12">
                    <label for="InputExpDate" class="form-label">Credit card expiration date<span
                        style="color:red">*</span></label>
                    <input type="date" class="form-control" id="InputExpDate" formControlName="InputExpDate"
                      [ngClass]="{'is-invalid':submitted2 && formControl2.InputExpDate.errors }">
                    <div *ngIf="submitted2 && formControl2.InputExpDate.errors" class="invalid-feedback">
                      <div *ngIf="formControl2.InputExpDate.errors.required">Credit card number Required</div>

                    </div>
                  </div>
                  <div class="col-12 col-lg-12">
                    <label for="InputCode" class="form-label">Credit card security code<span
                        style="color:red">*</span></label>
                    <input type="password" class="form-control" id="InputCode" placeholder="XXX"
                      formControlName="InputCode" [ngClass]="{'is-invalid':submitted2 && formControl2.InputCode.errors }">
                    <div *ngIf="submitted2 && formControl2.InputCode.errors" class="invalid-feedback">
                      <div *ngIf="formControl2.InputCode.errors.required">Credit card number Required</div>

                    </div>
                  </div>

                  <div class="col-12">
                    <div style="float:right" class="d-flex align-items-center gap-3">
                      <button class="btn btn-outline-secondary px-4" (click)=" prevStep()"><i
                          class='bx bx-left-arrow-alt me-2'></i>Previous</button>
                      <button #steps2 class="btn btn-primary px-4" (click)="ValidateStep2()">Next<i
                          class='bx bx-right-arrow-alt ms-2'></i></button>
                    </div>

                  </div>
                </div><!---end row-->

              </div>
            </form>
            <form [formGroup]="addForm3">
              <div id="test-l-3" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger3">

                <div class="row g-3">

                  <div class="col-12 col-lg-12">
                    <label for="InputEmail" class="form-label">E-mail Address <span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="InputEmail" placeholder="example@xyz.com"
                      formControlName="InputEmail"
                      [ngClass]="{'is-invalid':submitted3 && formControl3.InputEmail.errors }">
                    <div *ngIf="submitted3 && formControl3.InputEmail.errors" class="invalid-feedback">
                      <div *ngIf="formControl3.InputEmail.errors.required">Credit card number Required</div>
                    </div>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck" formControlName="flexCheck"
                      [ngClass]="{'is-invalid':submitted3 && formControl3.flexCheck.errors }">
                    <div *ngIf="submitted3 && formControl3.flexCheck.errors" class="invalid-feedback">
                      <div *ngIf="formControl3.flexCheck.errors.required">Credit card number Required</div>
                    </div>
                    <label class="form-check-label" for="flexCheck">
                      Terms and conditions
                    </label>
                  </div>

                  <div class="col-12">
                    <div class="d-flex align-items-center gap-3" style="float: right;">
                      <button class="btn btn-primary px-4" (click)=" prevStep()"><i
                          class='bx bx-left-arrow-alt me-2'></i>Previous</button>
                      <button class="btn btn-success px-4" (click)="  ValidateStep3()">Submit</button>
                    </div>
                  </div>
                </div><!---end row-->

              </div>


            </form>
          </div>

        </div>
      </div>
    </div>
    <!--end stepper -->





  </div>
</div>

<!--end wrapper-->